:host{
  width: 350px;
  background-color: white;
  border: 3px solid lightblue;
  color: black;
}
.status{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.seacrh__item{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.seacrh{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 1px;

}

