.product {
  display: block;
  margin: 0px 40px 0px 40px;

}
.product__title {
  display: flex;
  justify-content: center;
}
.product__pBody {
  display: flex;
}
.product__pBody{
  display: flex;
  justify-content: center;
  max-width: 1250px;
}
.pBody__img > img {
  margin-top: 15px;
  max-width: 550px;
  max-height: 500px;
}

.pBody__info {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  justify-content: space-evenly;
  max-height: 400px;
}

.info__box {
  display: flex;
  border: 1px solid black;
  padding: 25px;
}

.info__buy {
  margin-left: 50px;
  background-color: green;
  border: 1px solid white;
  padding: 15px;
  color: white;
  font-weight: 800;
  border-radius: 5px;
}

.pBody__description::first-letter{
text-transform: uppercase;
}

.pBody__description{
  padding-top: 20px;
  font-weight: 500;
}
.info__price{
  display: flex;
  align-items: center;
}
.info__buy:active{
  box-shadow: 1px 0px 5px green;
}
.info__raiting{
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.attention{
  font-size: 15px;
  color: red;
}
.red{
  background-color: red;
}
