<div class="firstPage">
  <div class="firstPage__blocks blocks">
    <div class="blocks__navigation">
      <app-autorization></app-autorization>
      <app-filter></app-filter>
    </div>
    <section>
      <div class="blocks__product product">
        <div class="product__card card" *ngFor="let card of Cards | paginate: { itemsPerPage: howManyItems, currentPage: p }" >
          <div class="card__img" (click)="toProduct(card)"><img src="{{card.image}}" alt=""></div>
          <div class="card__raiting">
          <app-stars [star]="card.rating.rate"></app-stars>
        </div>
          <div class="card__title" (click)="toProduct(card)">{{card.title}}</div>
          <div class="card__price" (click)="toProduct(card)">{{card.price | Grn}}</div>
          <button class="card__button" (click)="toProduct(card)">Переглянути</button>
        </div>
      </div>

    </section>

  </div>


</div>
<div class="pagination">
  <pagination-controls  previousLabel=""  nextLabel="" (pageChange)="p = $event"></pagination-controls>
</div>

