<div class="flex">
  <div class="first-block">
    <app-autorization></app-autorization>
    <app-filter></app-filter>
  </div>
  <div class="second-block">
    <section class="allProduct">
      <div class="product" *ngFor="let card of Cards">
        <img src="{{card.image}}" alt="">
        <br>
        <br>
        <br>
        <app-stars [star]="card.rating.rate"></app-stars>
        <br>
        <br>
        <br>
        <p class="product__title">{{card.title}}</p>
        <hr>
        <span class="product__price">{{card.price | currency}}</span>
        <hr>
        <button>Купить</button>

      </div>
    </section>
  </div>
</div>
