section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product{
  width: 200px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 8px;
  border: 2px solid black;
  border-radius: 35px;
}
