.rating{
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  color: rgb(122, 213, 236);
}

.rating__body{
  position: relative;
  transform: scale();
}
.rating__body::before{
  content: "★★★★★";
  display: block;
  color:lightblue;
}
.rating__items{
  display: flex;
  position: absolute;
  width: 168px;
  height: 100%;
  top:-2px;
  left:0;
}
.rating__item{
  flex: 0 0 15%;
  height: 100%;
  opacity: 0;
  /* проверить */

}
.rating__active{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active::before{
  content: "★★★★★";
  color:gold;
}
.rating__value{
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}
