.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1250px;
  justify-content: space-around;
}

.categories__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid skyblue;
  padding: 20px;
  border-radius: 25px;
}

.categories__item__title {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}



.categories__item > img {
  max-width: 150px;
}
