<div class="header">

  <img class="header__logo" src="https://w7.pngwing.com/pngs/559/668/png-transparent-energy-audit-efficient-energy-use-house-energy-conservation-eco-friendly-building-leaf-logo.png" alt="">

  <nav class="header__menu">
    <li routerLink="/" routerLinkActive="active">Головна</li>
    <li class="header__menu__catalog">Каталог
      <ul class="subCatalog">
        <li routerLink="categories/men's clothing">Чоловічий одяг</li>
        <li routerLink="categories/women's clothing">Жіночоий одяг</li>
        <li routerLink="categories/electronics">Електроніка</li>
        <li routerLink="categories/jewelery">Біжутерія </li>
      </ul>
    </li>
    <li>Адмін панель</li>
    <li>Корзина</li>
  </nav>

  <div class="header__search">
    <span class="header__search__name">Пошук:</span>
    <input [(ngModel)]="activeSearch" #myInput type="text" class="header__search__input">
    <app-search class="header__search__block" *ngIf="activeSearch" inInput="{{activeSearch}}"></app-search>
  </div>

</div>

