<div class="header">

  <img class="header__logo" src="https://w7.pngwing.com/pngs/559/668/png-transparent-energy-audit-efficient-energy-use-house-energy-conservation-eco-friendly-building-leaf-logo.png" alt="">

  <nav class="header__menu">
    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Головна</li>
    <li class="header__menu__catalog" routerLink="categories" routerLinkActive="active" >Каталог</li>
    <li routerLink="admin" routerLinkActive="active">Адмін панель</li>
    <li class="header__menu__basket" routerLink="basket"> <img src="assets/basket.png">
      <div class="header__menu__quantity"*ngIf="flag">{{totalInBasket}}</div></li>

  </nav>

  <div class="header__search">
    <span class="header__search__name">Пошук:</span>
    <input [(ngModel)]="activeSearch" #myInput type="text" class="header__search__input">
    <app-search class="header__search__block" *ngIf="activeSearch"></app-search>
  </div>

</div>

