.autorizated{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.autorizated__greeting{
  display: flex;
  justify-content: center;
}

.autorizated__logout{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  width: 150px;
  cursor: pointer;
}

ul{
  list-style: none;
  font-size: 15px;
  padding: 1px;
}

ul > li{
font-style: inherit;
cursor: pointer;
margin-bottom: 10px;
}

.autorizated__logout > button{
  width: 100px;
  padding: 2px;
  background-color: rgb(4, 111, 177);
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
}



