/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body{
  margin: 25px auto;
  width: 1250px;
  font-size: 17px;
  font-family: "Rubik";
}
