.blocks__product{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product__card{
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 250px;
  border: 2px solid skyblue;
  align-items: center;
  padding: 25px 15px 25px 15px;
  border-radius: 25px;
}
img{
  width: 100px;
  height: 100px;
}
.card__img, .card__raiting, .card__title, .card__price{
  margin-bottom: 15px;
}
.card__price{
  display: flex;
  flex: auto 1 0;
}
.card__title{
  height: 75px;
}
.card__button{
  width: 135px;
  padding: 5px;
  background-color: rgb(4, 111, 177);
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 15px;
}
.card__button:hover{
background-color: green;
}
