.autorization{
  width: 250px;
  height: 200px;
  background-color: lightskyblue;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.autorization__title{
  display: flex;
  justify-content: center;
}
.autorization__box{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 15px;


}
.box__name, .box__input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.autorization__help{
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.autorization__erorr{
  margin-top: 25px;
}
.autorization__button{
  display: flex;
  justify-content: center;
}
.autorization__button> button{
  width: 150px;
  cursor: pointer;
}
.autorization__error{
  display: flex;
  justify-content: center;
  color: red;
  font-size: 15px;
}
.autorization_error::first-letter{
  text-transform: uppercase;
}
.autorization__button > input {
  width: 100px;
  padding: 2px;
  background-color: rgb(4, 111, 177);
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
}
.autorization__button > input:hover{
  border: 1px solid green;
}

