<div class="main">
  <div class="main__title">Загальна статистика інтернет магазину</div>
  <div class="main__box">
    <div class="main__basketPrice">Загальна сума товарів добавлених у кошики - {{totalPrice | number | Grn}} </div>
    <div class="main__basketCount">Кількість створених кошиків - {{countBasket}} шт.</div>
    <div class="main__cardsCount">Кількість товарів на сайті - {{countItems}} шт.</div>
    <div class="main__userCount">Кількість зарестрованих користувачів - {{countUsers}} шт.</div>
  </div>
</div>
